<section class="container p-2 text-center">
  {{> header}}       

  <h2>Welcome to Foccacia Management</h2>
  <p>Manage your groups, teams, and more from here!</p>

  {{> home}} 

  {{> footer}}       
</section>