<section class="container p-2">
    <h2> Error page </h2>
    <p> Message: {{errorBody.error}} </p>
    <p> Code: {{errorBody.code}} </p>
    <button onclick="history.back()" class="btn btn-primary">Go Back</button>
</section>