<header class="container p-3 bg-primary text-light text-center">
  <h1>FOCCACIA Web Site</h1>
  <div class="d-flex justify-content-between align-items-center mt-2">
    <a href="/site/homepage" class="btn btn-light">
      <i class="fa fa-home"></i> Home
    </a>
    <div class="ml-auto d-flex gap-3">
      {{#if isAuthenticated}}
        <a href="/site/users/me" class="btn btn-light">Show My Info</a>
      {{else}}
        <a href="/site/login" class="btn btn-light">Login</a>
      {{/if}}
      <a href="/site/signup" class="btn btn-light">Register</a>
    </div>
  </div>
</header>