<section class="container p-2 bg-light shadow mt-3">
    <h2> Update Group: </h2>
    <form action="/site/groups/{{group.id}}/update" method="POST">
        {{> GroupContentForm}}
    </form>
</section>