<section class="container p-2 d-flex justify-content-center">
  <nav>
    <a href="/site/groups" class="btn btn-primary">View Groups</a>
    <a href="/site/teams" class="btn btn-primary">View Teams</a>
  </nav>
</section>