<section class="container p-2">
  <h2>Teams List</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Stadium</th>
        <th>Competitions disputed</th>
      </tr>
    </thead>
    <tbody>
      {{#each teams}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.stadium}}</td>
        <td>
          <ul>
            {{#each this.leagues}}
              <li>{{this.name}} (Season: {{this.season}})</li>
            {{/each}}
          </ul>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>