<section class="container p-2">
  {{> header}}

  {{> teams}}

  <div class="text-center mt-3 mb-4">
    <a href="/site/teams/search" class="btn btn-primary">Search team</a>
  </div>

  {{> footer}}
</section>